backcall==0.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
chromedriver==2.24.1
click==7.1.2
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
extruct==0.10.0
Flask==1.1.2
Flask-Jsonpify==1.5.0
html-text==0.5.2
html5lib==1.1
idna==2.10
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
jstyleson==0.0.2
jupyter==1.0.0
jupyter-core==4.6.3
language-tags==1.0.0
lxml==4.5.2
MarkupSafe==1.1.1
mf2py==1.1.2
mistune==0.8.4
nltk==3.5
numpy==1.19.4
packaging==20.4
pandas==1.1.4
parso==0.7.0
pickleshare==0.7.5
prometheus-client==0.8.0
pyaml==20.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pyzmq==19.0.2
QtPy==1.9.0
rdflib==4.2.2
rdflib-jsonld==0.5.0
recipe-scrapers==9.2.4
regex==2020.10.11
requests==2.24.0
requests-file==1.5.1
scikit-learn==0.23.2
scikit-optimize==0.8.1
scipy==1.5.4
selenium==3.141.0
Send2Trash==1.5.0
sklearn==0.0
soupsieve==2.0.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tldextract==2.2.2
tornado==6.0.4
tqdm==4.50.2
Unidecode==1.1.1
urllib3==1.25.10
w3lib==1.22.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
gunicorn==20.0.4
